@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: nf-icon;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot);
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot?#iefix)
      format("embedded-opentype"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff)
      format("woff"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.ttf)
      format("truetype"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.svg#nf-icon-v1-93)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
[class*=" icon-"],
[class^="icon-"] {
  font-family: nf-icon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
* {
  box-sizing: border-box;
}
body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.lists {
  margin-top: -180px;
}
footer {
  margin: 50px 0;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none !important;
}
@media (max-width: 768px) {
  .lists {
    margin-top: -280px;
  }
}
