.movieRow {
  margin-bottom: 30px;
  position: relative;
}
.movieRow h2 {
  margin: 0 0 0 30px;
}
.movieRow--listarea {
  overflow-x: hidden;
  padding-left: 30px;
}
.movieRow--list {
  transition: all ease 0.8s;
}
.movieRow--item {
  display: inline-block;
  width: 280px;
  cursor: pointer;
}
.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}
.movieRow--item img:hover {
  transform: scale(1);
}
.movieRow--left,
.movieRow--right {
  position: absolute;
  width: 40px;
  height: 425px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.2s;
}
.movieRow--left {
  left: 0;
}
.movieRow--right {
  right: 0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}
.indicator-icon {
  font-size: 2em;
}
.icon-rightCaret:before {
  content: "\e867";
}
.icon-leftCaret:before {
  content: "\e868";
}
@media (max-width: 960px) {
  .movieRow--left,
  .movieRow--right {
    opacity: 1;
    display: none;
  }
  .movieRow h2 {
    margin-left: 16px;
  }
  .movieRow--listarea {
    padding-left: 16px;
  }
  .movieRow--list {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-block;
    width: 100% !important;
  }
  .movieRow--list::-webkit-scrollbar-track {
    background: #000;
  }
  .movieRow--list::-webkit-scrollbar-thumb {
    background: #babcbe;
    border-radius: 8px;
  }
  .movieRow--list::-webkit-scrollbar {
    border-radius: 8px;
    height: 6px;
  }
  .movieRow--item {
    width: 180px;
  }
}
