header {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; /* Adjust padding for responsiveness */
  background: transparent;
  transition: all ease 0.5s;
}

@media (min-width: 768px) {
  /* Apply styles for screens with a minimum width of 768px */
  header {
    padding: 0 30px; /* Reset padding for larger screens */
  }
}

header.black {
  background: #141414;
}

.header--logo {
  height: 25px;
}

.header--logo img {
  height: 100%;
}

.header--user {
  height: 35px;
}

.header--user img {
  height: 100%;
  border-radius: 3px;
}

.header--search {
  display: flex;
  align-items: center;
}

.header--search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.header--search button {
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
}

/* Your existing header styles */

/* Styles for the search icon */
.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #e50914;
}

/* Styles for the search input */
.search-input {
  display: flex;
  align-items: center;
}

.search-input input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.search-input button {
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  padding: 20px;
  overflow-y: auto;
}

/* Display search results in a row */
.search-results .search-result {
  width: calc(33.33% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.search-result img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.search-result p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .search-results {
    width: 60%;
    margin: 0 auto;
  }
}

.icon-logoUpdate {
  text-decoration: none;
  font-size: 25px;
  color: #e50914;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.icon-logoUpdate:before {
  content: "\e5d0";
}
